<%- include header %>
<a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
<p class="info">
  作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
  日期：<%= post.time.minute %> | 
  标签：
  <% post.tags.forEach(function(tag, index){ %>
    <% if(tag.tag){ %>
      <a class="tag" href="/tags/<%= tag.tag %>"><%= tag.tag %></a>
    <% } %>
  <% }) %>
</p>
<%- post.post %>
<%- include comment %>
<%- include footer %>